<div class="row search-results-item">
  {{#if result._links.image}}
    <div class="col-xs-2">
      {{> results-item-image href=result._links.image.href}}
    </div>
  {{/if}}
  <div {{#if result._links.image}}class="col-xs-10"{{else}}class="col-xs-12"{{/if}}>
    {{> results-item-details result=result}}
  </div>
</div>
