<div class="heading">{{result.title}}</div>
<div class="content">{{{result.content}}}</div>
<div class="see-more">
  <a href="{{result._links.self.href}}"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;More</a>
</div>
